body {
    background-color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size:3em;
}

#profile-page {
    color: white;
    margin: auto;
    width: 800px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

.cv-section {
    margin-top: 20px;
}

#github-link {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#github-link:hover {
    text-decoration: underline;
    color: lightblue
}

ul li, ol li {
    color: lightgray;
}

