body {
    background-color: #333333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
}

main {
    color: white;
    margin: auto;
    width: 800px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

section {
    margin-top: 20px;
}
header, nav, section {
    text-align: center;
    margin-bottom: 20px;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
}


nav a:hover {
    text-decoration: underline;
    color: lightblue
}

nav a i {
    font-size: 2em;
}

ul li, ol li {
    list-style-type: none;
    color: lightgray;
}

footer {
    text-align: center;
    color: gray;
    margin-top: 40px;
    font-size: 0.9em;
}

